In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

df = pd.read_csv(r"all_sales.csv")

df

       client_id           product_name        date
0           1808     тропические фрукты  2024-07-20
1           2552         цельное молоко  2024-01-05
2           2300    фрукты с косточками  2024-09-18
3           1187           другие овощи  2024-12-11
4           3037         цельное молоко  2024-02-01
...          ...                    ...         ...
38760       4471         нарезанный сыр  2023-10-08
38761       2022                конфеты  2023-02-23
38762       1097                   торт  2023-04-16
38763       1510  фруктовый/овощной сок  2023-12-03
38764       1521           кошачий корм  2023-12-26

[38765 rows x 3 columns]

In [98]:
# 1. Укажите название типа товаров, который был куплен наибольшее число раз.
df["product_name"].value_counts().sort_values(ascending=False)

product_name
цельное молоко                  2502
другие овощи                    1898
булочки                         1716
сода                            1514
йогурт                          1334
                                ...
средство для снятия макияжа        5
средство для чистки туалетов       5
пакеты                             4
детская косметика                  3
консервирующие средства            1
Name: count, Length: 161, dtype: int64

In [99]:
# 2. Укажите идентификатор покупателя, который совершил наибольшее количество покупок.
print(df["client_id"].astype("str").describe())
df["client_id"].astype("str").value_counts()

count     38765
unique     3898
top        3180
freq         36
Name: client_id, dtype: object

client_id
3180    36
3737    33
3050    33
2051    33
3915    31
        ..
4590     2
4703     2
3607     2
4587     2
2417     2
Name: count, Length: 3898, dtype: int64

In [100]:
# 3. Укажите количество покупателей, совершивших всего две покупки.
purchase_counts = df.groupby('client_id').size()

# Фильтруем клиентов с ровно двумя покупками
purchase_counts[purchase_counts == 2]

client_id
1019    2
1029    2
1036    2
1039    2
1084    2
       ..
4961    2
4978    2
4980    2
4994    2
4998    2
Length: 248, dtype: int64

In [101]:
# 4. Укажите количество покупателей, совершивших всего четыре покупки.
purchase_counts = df.groupby('client_id').size()

# Фильтруем клиентов с ровно двумя покупками
purchase_counts[purchase_counts == 4]

client_id
1005    4
1024    4
1044    4
1046    4
1063    4
       ..
4948    4
4964    4
4965    4
4974    4
4995    4
Length: 328, dtype: int64

In [102]:
df["date"] = pd.to_datetime(df["date"])
df

       client_id           product_name       date
0           1808     тропические фрукты 2024-07-20
1           2552         цельное молоко 2024-01-05
2           2300    фрукты с косточками 2024-09-18
3           1187           другие овощи 2024-12-11
4           3037         цельное молоко 2024-02-01
...          ...                    ...        ...
38760       4471         нарезанный сыр 2023-10-08
38761       2022                конфеты 2023-02-23
38762       1097                   торт 2023-04-16
38763       1510  фруктовый/овощной сок 2023-12-03
38764       1521           кошачий корм 2023-12-26

[38765 rows x 3 columns]

In [103]:
# 5. Укажите среднее число покупок за месяц.
df['year_month'] = df['date'].dt.to_period('M')

# 3. Подсчитаем количество покупок в каждом месяце
monthly_purchases = df.groupby('year_month').size()

# 4. Вычислим среднее число покупок за месяц
monthly_purchases.mean()

np.float64(1615.2083333333333)

In [104]:
# 6. Укажите день недели, в который за 2023 год было меньше всего куплено товаров.
timer1 = datetime(2023, 1, 1)
timer2 = datetime(2024, 1, 1)
a = df.loc[(df["date"] >= timer1) & (df["date"] < timer2)]
a = a.groupby("date").size()
a[a == a.min()]

date
2023-07-04    24
dtype: int64

In [105]:
# 7. Укажите день недели, в который за 2024 год было больше всего куплено товаров.
timer1 = datetime(2024, 1, 1)
timer2 = datetime(2025, 1, 1)
a = df.loc[(df["date"] >= timer1) & (df["date"] < timer2)]
a = a.groupby("date").size()
a[a == a.max()].index[0]

Timestamp('2024-01-21 00:00:00')

In [106]:
datetime(2024, 1, 21).weekday()

6

In [ ]:
# 8. Укажите среднее число покупок за неделю (считаем, что первая неделя начинается в понедельник 2 января 2023 года).
# ?????????????????????????????????

In [ ]:
# ???

In [ ]:
"""
9. Укажите месяц, когда было совершено наибольшее число покупок. Формат ответа:
“Год-Месяц” (пример “2011-04”).
Укажите месяц, когда было совершено наименьшее число покупок. Формат ответа: “Год-Месяц”
(пример “2011-04”).
"""

# df['year_month'] = df['date'].dt.to_period('M')
# monthly_sales = df['year_month'].value_counts()

# max_month = monthly_sales.idxmax()
# min_month = monthly_sales.idxmin()

monthly_counts = df.groupby('year_month').size()
max_month = monthly_counts.idxmax()
min_month = monthly_counts.idxmin()
max_month, min_month

(Period('2024-08', 'M'), Period('2023-03', 'M'))

In [118]:
"""
10. Множество всех купленных некоторым клиентом товаров за 2 года назовём потребительской
корзиной для этого клиента.
Укажите пару товаров, которая встречается в наибольшем числе потребительских корзин
"""
from itertools import combinations
from collections import Counter

# Группируем уникальные товары по клиентам
baskets = df.groupby('client_id')['product_name'].apply(set)

pairs_counter = Counter()
for basket in baskets:
    # Создаем все возможные пары из товаров в корзине
    if len(basket) >= 2:
        pairs = combinations(sorted(basket), 2)
        pairs_counter.update(pairs)

pairs_counter.most_common(1)

[(('другие овощи', 'цельное молоко'), 746)]

In [121]:
"""
11. Множество всех купленных некоторым клиентом товаров за 2 года назовём потребительской
корзиной для этого клиента.
Рассмотрим клиента с “client_id = 1011”. Укажите “client_id” клиента, у которого
потребительская корзина имеет наибольшее пересечение с потребительской корзиной клиента с
“client_id = 1011”.

12. Множество всех купленных некоторым клиентом товаров за 2 года назовём потребительской
корзиной для этого клиента.
Рассмотрим клиента с “client_id = 1116”. Укажите “client_id” клиента, у которого
потребительская корзина имеет наибольшее пересечение с потребительской корзиной клиента с
“client_id = 1116”.
"""
def find_most_similar(target_id, baskets_dict):
    target_basket = baskets_dict[target_id]
    max_intersect = -1
    similar_client = None
    
    for client_id, basket in baskets_dict.items():
        if client_id == target_id:
            continue
        
        # Считаем размер пересечения множеств
        intersect_size = len(target_basket.intersection(basket))
        
        if intersect_size > max_intersect:
            max_intersect = intersect_size
            similar_client = client_id
        # Если пересечения равны, обычно берут ID по возрастанию, 
        # но в олимпиадах ответ часто уникален.
            
    return similar_client

# Превращаем серию в словарь для скорости
baskets_dict = baskets.to_dict()

# 11. Для клиента 1011
ans_11 = find_most_similar(1011, baskets_dict)

# 12. Для клиента 1116
ans_12 = find_most_similar(1116, baskets_dict)

ans_11, ans_12

(1098, 3050)