In [26]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"flats.csv", sep=";")
df

,id,площадь_м2,этаж,число_школ_район,число_спорт_объектов_район,доп_образование_район,торговые_центры_район,метро_км,детсад_км,школа_км,парк_км,зеленая_зона_км,кад_км,центр_км,цена
0,1,43,4.0,5,7,3,16,1.131260,0.145700,0.177975,2.158587,0.600973,1.422391,15.156211,5850000
1,2,34,3.0,8,6,1,3,0.635053,0.147754,0.273345,0.550690,0.065321,9.503405,8.698054,6000000
2,3,43,2.0,7,5,1,0,1.445960,0.049102,0.158072,0.374848,0.453172,5.604800,9.067885,5700000
3,4,89,9.0,10,17,6,11,0.963802,0.179441,0.236455,0.078090,0.106125,2.677824,19.487005,13100000
4,5,77,4.0,9,25,2,10,0.688859,0.247901,0.376838,0.258289,0.236214,11.616653,2.578671,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30464,30469,44,7.0,4,10,3,9,0.679841,0.132645,0.349899,1.972527,0.139814,3.762408,12.599292,7400000
30465,30470,86,3.0,4,29,16,23,0.781217,0.276256,0.362681,1.036452,0.271861,13.100989,3.269284,25000000
30466,30471,45,10.0,0,0,0,1,1.722233,0.897889,1.234235,4.566595,0.427248,7.123215,21.905792,6970959
30467,30472,64,5.0,8,11,1,4,2.047312,0.203020,0.130667,1.772506,0.227547,2.327138,13.622569,13500000
30468,30473,43,1.0,4,7,1,5,0.454650,0.093619,0.378950,0.848766,0.559699,1.920884,11.812614,5600000

In [ ]:
# 1. Отметьте, в каких столбцах таблицы данных есть пропущенные значения.
# for i in df.columns:
#     if df[i].isna().sum()>0:
#         print(i, df[i].isna().sum())

df[df.isna().any(axis=1)]

,id,площадь_м2,этаж,число_школ_район,число_спорт_объектов_район,доп_образование_район,торговые_центры_район,метро_км,детсад_км,школа_км,парк_км,зеленая_зона_км,кад_км,центр_км,цена
178,179,98,NaN,4,7,1,4,7.078703,0.089663,0.639555,1.380932,0.000000,4.386132,22.340034,11500000
187,188,49,NaN,8,6,1,3,3.004237,0.909249,0.705581,0.789734,0.251488,7.872639,9.046073,8300000
195,196,37,NaN,8,6,1,3,2.163696,0.324654,0.608863,1.701274,0.385222,8.670208,8.192683,2000000
215,216,45,NaN,7,3,4,9,1.073081,0.045254,0.462565,3.014595,0.174886,3.425488,15.802420,2825000
294,295,33,NaN,4,7,1,5,0.597861,0.220760,0.627304,0.529129,0.341453,1.320750,12.408245,1000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29492,29497,57,10.0,8,12,1,5,NaN,0.483342,0.518033,1.613624,0.064453,10.490772,6.386919,1200000
29761,29766,50,18.0,7,14,1,6,NaN,1.335079,2.048298,2.932834,0.081152,0.351058,15.084694,7350000
29828,29833,135,15.0,7,14,1,6,NaN,1.335079,2.048298,2.932834,0.081152,0.351058,15.084694,20196950
29944,29949,75,14.0,7,14,1,6,NaN,1.335079,2.048298,2.932834,0.081152,0.351058,15.084694,11603900
30035,30040,50,17.0,7,14,1,6,NaN,1.335079,2.048298,2.932834,0.081152,0.351058,15.084694,7532850

In [ ]:
# 2. Укажите число квартир, цена которых меньше средней цены квартиры.
df["цена"].mean()

len(df[df["цена"] < df["цена"].mean()])

19329

In [ ]:
# 3. Отметьте три признака, которые имеют наиболее высокую корреляцию с признаком “доп_образование_район”
df.corr()["доп_образование_район"].sort_values(ascending=False)

доп_образование_район         1.000000
торговые_центры_район         0.672020
число_спорт_объектов_район    0.566744
число_школ_район              0.407043
цена                          0.057687
этаж                          0.044472
площадь_м2                    0.007397
id                           -0.008587
кад_км                       -0.016995
зеленая_зона_км              -0.036895
детсад_км                    -0.163190
школа_км                     -0.198362
метро_км                     -0.248158
парк_км                      -0.284448
центр_км                     -0.342038
Name: доп_образование_район, dtype: float64

In [ ]:
# 4. Найти количество квартир, у которых площадь больше или равна 70 м2, а расстояние до метро меньше 1 км.
df[(df["метро_км"] < 1) & (df["площадь_м2"] >= 70)].shape[0]

1736

In [ ]:
# 5. Укажите значение цены самой дешёвой квартиры, у которой площадь больше или равна 90 м2, а расстояние до КАД меньше 1 км
df[(df["площадь_м2"] >= 90) & (df["кад_км"] < 1)]["цена"].min()

np.int64(990000)

In [ ]:
# 6. Укажите значение цены самой дешёвой квартиры, расположенной с районе с наибольшим суммарным числом школ, спортивных объектов, объектов дополнительного образования и торговых центров.
df.columns
df["сум_ш_спрт_доп_тц"] = df["число_школ_район"] + df["число_спорт_объектов_район"] + df["доп_образование_район"] + df["торговые_центры_район"]
df[df["сум_ш_спрт_доп_тц"] == df["сум_ш_спрт_доп_тц"].max()]["цена"].min() # ??????
# ???

np.int64(1500000)

In [12]:
df.columns
df["sum_dist"] = df['детсад_км'] + df['школа_км'] + df['парк_км'] + df['кад_км']
df

,id,площадь_м2,этаж,число_школ_район,число_спорт_объектов_район,доп_образование_район,торговые_центры_район,метро_км,детсад_км,школа_км,парк_км,зеленая_зона_км,кад_км,центр_км,цена,сум_ш_спрт_доп_тц,sum_dist
0,1,43,4.0,5,7,3,16,1.131260,0.145700,0.177975,2.158587,0.600973,1.422391,15.156211,5850000,31,3.904653
1,2,34,3.0,8,6,1,3,0.635053,0.147754,0.273345,0.550690,0.065321,9.503405,8.698054,6000000,18,10.475194
2,3,43,2.0,7,5,1,0,1.445960,0.049102,0.158072,0.374848,0.453172,5.604800,9.067885,5700000,13,6.186821
3,4,89,9.0,10,17,6,11,0.963802,0.179441,0.236455,0.078090,0.106125,2.677824,19.487005,13100000,44,3.171811
4,5,77,4.0,9,25,2,10,0.688859,0.247901,0.376838,0.258289,0.236214,11.616653,2.578671,16331452,46,12.499681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30464,30469,44,7.0,4,10,3,9,0.679841,0.132645,0.349899,1.972527,0.139814,3.762408,12.599292,7400000,26,6.217480
30465,30470,86,3.0,4,29,16,23,0.781217,0.276256,0.362681,1.036452,0.271861,13.100989,3.269284,25000000,72,14.776377
30466,30471,45,10.0,0,0,0,1,1.722233,0.897889,1.234235,4.566595,0.427248,7.123215,21.905792,6970959,1,13.821934
30467,30472,64,5.0,8,11,1,4,2.047312,0.203020,0.130667,1.772506,0.227547,2.327138,13.622569,13500000,24,4.433331
30468,30473,43,1.0,4,7,1,5,0.454650,0.093619,0.378950,0.848766,0.559699,1.920884,11.812614,5600000,17,3.242220

In [ ]:
# 7. Укажите значение цены самой дешёвой квартиры, у которой суммарное расстояние до детского сада, школы, парка и КАДа меньше 2 км.
df[df["sum_dist"] < 2]["цена"].min()

np.int64(990000)

In [ ]:
# 8. Укажите значение средней цены квадратного метра среди квартир, у которых расстояние до центра меньше 3 км.
df["mean_квм"] = df["цена"] / df["площадь_м2"]
df[df["центр_км"] < 3]["mean_квм"].mean()
# df

np.float64(156180.4702261593)

In [ ]:
# 9. Найти количество квартир, у которых расстояние до КАД в 2 раза больше, чем сумма расстояний до школы и до метро.
# df.columns
df["раст_шк_м"] = df["школа_км"] + df["метро_км"]
df[((df["кад_км"]) / df["раст_шк_м"]) > 2]

,id,площадь_м2,этаж,число_школ_район,число_спорт_объектов_район,доп_образование_район,торговые_центры_район,метро_км,детсад_км,школа_км,парк_км,зеленая_зона_км,кад_км,центр_км,цена,сум_ш_спрт_доп_тц,sum_dist,mean_квм,раст_шк_м
1,2,34,3.0,8,6,1,3,0.635053,0.147754,0.273345,0.550690,0.065321,9.503405,8.698054,6000000,18,10.475194,176470.588235,0.908398
2,3,43,2.0,7,5,1,0,1.445960,0.049102,0.158072,0.374848,0.453172,5.604800,9.067885,5700000,13,6.186821,132558.139535,1.604032
3,4,89,9.0,10,17,6,11,0.963802,0.179441,0.236455,0.078090,0.106125,2.677824,19.487005,13100000,44,3.171811,147191.011236,1.200257
4,5,77,4.0,9,25,2,10,0.688859,0.247901,0.376838,0.258289,0.236214,11.616653,2.578671,16331452,46,12.499681,212096.779221,1.065697
5,6,67,14.0,3,7,0,6,1.531514,0.145955,0.113466,1.073495,1.497903,8.296087,5.645796,9100000,16,9.629003,135820.895522,1.644980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30463,30468,52,13.0,4,29,16,23,1.121589,1.048962,0.269716,0.284300,0.189089,13.917815,0.072897,6750554,72,15.520792,129818.346154,1.391305
30464,30469,44,7.0,4,10,3,9,0.679841,0.132645,0.349899,1.972527,0.139814,3.762408,12.599292,7400000,26,6.217480,168181.818182,1.029740
30465,30470,86,3.0,4,29,16,23,0.781217,0.276256,0.362681,1.036452,0.271861,13.100989,3.269284,25000000,72,14.776377,290697.674419,1.143898
30466,30471,45,10.0,0,0,0,1,1.722233,0.897889,1.234235,4.566595,0.427248,7.123215,21.905792,6970959,1,13.821934,154910.200000,2.956468
30468,30473,43,1.0,4,7,1,5,0.454650,0.093619,0.378950,0.848766,0.559699,1.920884,11.812614,5600000,17,3.242220,130232.558140,0.833599